.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Чтобы элементы не прилипали к краям на маленьких экранах */
    display: flex;
    justify-content: space-between;
    align-items: center;
}